.item {
  flex: 0 1 300px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.likeWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 480px) {
  .item {
    flex: 0 1 410px;
    padding: 30px;
  }

  .date {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .item {
    flex: 0 1 460px;
  }
}

@media (min-width: 780px) {
  .item {
    flex: 0 1 330px;
    padding: 10px;
  }
}

@media (min-width: 980px) {
  .item {
    flex: 0 1 300px;
    padding: 10px;
  }

  .date {
    font-size: 8px;
  }
}

@media (min-width: 1280px) {
  .item {
    flex: 0 1 420px;
    padding: 10px;
  }
}