.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 30px;
}

@media (min-width: 780px) {
  .list {
    gap: 15px;
  }
}

@media (min-width: 1280px) {
  .list {
    gap: 10px;
  }
}