.header {
  padding: 15px 0;
  background-color: var(--greyE6);
  /* sticky header */
  position: sticky;
  top: 0;
  z-index: 10;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media (min-width: 768px) {
  .header {
    padding: 30px;
  }

  .gridContainer {
    grid-template-columns: 50px 1fr 2fr 50px;
    gap: 30px;
  }
}